@function fa_scale($value, $amount) {
  $type: type_of($value);

  @if $type == number {
    @return $value * $amount;

  } @else if $type == list {
    $output: ();

    @each $item in $value {
      $output: append($output, fa_scale($item, $amount), list-separator($value));
    }

    @return $output;

  } @else {
    @error "fa_scale() expected a number or list, given #{$type}: #{value}";
  }
}
