@function _fa_slice($list, $start, $end: false) {
  $output: ();

  @if not $end {
    $end: length($list);
  } @else if $end < 0 {
    $end: length($list) + $end + 1;
  }

  @for $index from $start through $end {
    $output: append($output, nth($list, $index));
  }

  @return $output;
}
