html {
  font-size: 1.25em;
}

.fa-screen-reader-text {
  @include fa_screen_reader_text;
}

h1, h2, h3, h4, h5, h6,
.fa-h1, .fa-h2, .fa-h3, .fa-h4, .fa-h5, .fa-h6,
.fa-header-font {
  @include fa_header_font;
}

h1, h2, .fa-h1, .fa-h2 { font-weight: 700;    }
h3, h4, .fa-h3, .fa-h4 { font-weight: 400;    }
h5, h6, .fa-h5, .fa-h6 { font-weight: 300;    }
h1, .fa-h1             { font-size:   2.5rem;  }
h2, .fa-h2             { font-size:   2rem;    }
h3, .fa-h3             { font-size:   1.75rem; }
h4, .fa-h4             { font-size:   1.5rem;  }
h5, .fa-h5             { font-size:   1.35rem; }
h6, .fa-h6             { font-size:   1.15rem; }

.fa-body-font {
  @include fa_body_font;
}

.fa-long-article {
  p:not([class]):first-of-type {
    color: $fa_main_3;
  }
}

blockquote,
.fa-quote {
  @include fa_quote_like;
}

.fa-with-small-quotes blockquote,
.fa-small-quote {
  @include fa_quote_like(
             $font_size: 1.1em,
             $icon_size: 1.5em,
             $inner_padding: 0.5em
           );
}

section,
aside {
  &.fa-info-box {
    @include fa_info_box(
               $icon_name:  'flag',
               $icon_color: 'teal_2'
             );
  }

  &.fa-success-box {
    @include fa_info_box(
               $icon_name:  'check_circle',
               $icon_color: 'green_2',
               $fill:   $fa_green_3,
               $color:  $fa_green_1,
               $border: $fa_green_2
             );
  }

  &.fa-warn-box {
    @include fa_info_box(
               $icon_name:  'alert_circle',
               $icon_color: 'orange_2',
               $fill:   $fa_orange_3,
               $color:  $fa_orange_1,
               $border: $fa_orange_2
             );
  }

  &.fa-error-box {
    @include fa_info_box(
               $icon_name:  'cancel',
               $icon_color: 'red_2',
               $fill:   $fa_red_3,
               $color:  $fa_red_1,
               $border: $fa_red_2
             );
  }
}

figcaption,
.fa-figcaption {

}

a,
.fa-a {

}

a:visited,
.fa-a:visited {

}

a:hover,
.fa-a:hover {

}

a:focus,
.fa-a:focus {

}

a:active,
.fa-a:active {

}

ol,
.fa-ol {

}

ul,
.fa-ul {

}

.fa-tag {
  @include fa_tag;

  @each $name in $fa_color_names {
    @if fa_get_contrast($name) {
      &-#{$name} {
          @include fa_tag(
                     $fill:  fa_get_color($name),
                     $color: fa_get_contrast($name)
                   );
      }
    }
  }
}

@media (max-width: #{$fa_width_small}) {
  h1, .fa-h1 { font-size:   2rem;    }
  h2, .fa-h2 { font-size:   1.75rem; }
  h3, .fa-h3 { font-size:   1.5rem;  }
  h4, .fa-h4 { font-size:   1.35rem; }
  h5, .fa-h5 { font-size:   1.25rem; }
  h6, .fa-h6 { font-size:   1.15rem; }
}

@media (max-width: #{$fa_width_tiny}) {
  h1, .fa-h1 { font-size:   1.75rem;  }
  h2, .fa-h2 { font-size:   1.5rem;   }
  h3, .fa-h3 { font-size:   1.35rem;  }
  h4, .fa-h4 { font-size:   1.25rem;  }
  h5, .fa-h5 { font-size:   1.175rem; }
  h6, .fa-h6 { font-size:   1.1rem;   }
}
