body {
  font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  @include fa_header_font;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 400;
}

h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.35em;
}

h6 {
  font-size: 1.15em;
}

main *,
article * {
  @include fa_body_font;
}

.fa-long-article {
  p:first-of-type {
    color: $fa_main_3;
  }
}

blockquote,
.fa-quote {
  @include fa_quote_like;
}

.fa-with-small-quotes blockquote,
.fa-small-quote {
  @include fa_quote_like(
             $font_size: 1.1em,
             $icon_size: 1.5em,
             $inner_padding: 0.5em
           );
}

.fa-info-box {
  @include fa_info_box;
}

.fa-success-box {
  @include fa_info_box(
             $icon:   'check_circle__green_2.svg',
             $fill:   $fa_green_3,
             $color:  $fa_green_1,
             $border: $fa_green_2
           );
}

.fa-warn-box {
  @include fa_info_box(
             $icon:   'alert_circle__orange_2.svg',
             $fill:   $fa_orange_3,
             $color:  $fa_orange_1,
             $border: $fa_orange_2
           );
}

.fa-error-box {
  @include fa_info_box(
             $icon:   'cancel__red_2.svg',
             $fill:   $fa_red_3,
             $color:  $fa_red_1,
             $border: $fa_red_2
           );
}

a,
.fa-a {

}

a:visited,
.fa-a:visited {

}

a:hover,
.fa-a:hover {

}

a:focus,
.fa-a:focus {

}

a:active,
.fa-a:active {

}

ol,
.fa-ol {

}

ul,
.fa-ul {

}
