@mixin fa_icon($icon_name, $position, $size: 2em, $offset: 0.3em, $source: $fa_icon_root) {
  padding-#{$position}: $size + ($offset * 2);
  content: '';
  background-image: url(#{source}#{icon_name}.svg);
  background-repeat: no-repeat;

  background-size: auto $size;

  @if $position == left or $position == right {
    background-position: $position $offset center 0;
  } @else if $position == top or $position == bottom {
    background-position: center 0 $position $offset;
  }
}
