@mixin fa_button($icon:      false,
                 $fill:      $fa_main_3,
                 $border:    transparent,
                 $color:     #FFF,
                 $position:  left,
                 $icon_root: $fa_icon_root) {

  @include fa_main_font;

  display: inline-block;
  padding: 0.35em 0.85em;
  background-color: $fill;
  border: 1px solid $border;
  border-radius: 0.1em;

  font-size: 0.85em;
  font-weight: normal;
  color: $color;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @if $icon {
    @include fa_background_icon($icon, $position, $source: $icon_root);
  }
}
