@mixin fa_button($icon_name:    false,
                 $fill_name:    'main_3',
                 $border:       0.2rem solid,
                 $border_color: transparent,
                 $position:     left,
                 $icon_size:    1.5em,
                 $icon_root:    $fa_icon_root) {

  @include fa_main_font;

  $side_padding: 0.85em;

  display:          inline-block;
  padding:          0.35em $side_padding;
  background-color: fa_get_color($fill_name, $err: true);
  border:           $border_color $border;
  border-radius:    0.1em;

  font-size:       0.85em;
  font-weight:     normal;
  color:           fa_get_contrast_color($fill_name, $err: true);
  line-height:     1.5;
  text-align:      center;
  vertical-align:  middle;
  white-space:     nowrap;
  text-decoration: none;
  text-shadow:     none;

  cursor:              pointer;
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none;

  @if $icon_name {
    @include fa_background_icon(
      $icon_name:  $icon_name,
      $icon_color: fa_get_contrast_name($fill_name, $err: true),
      $width:      $icon_size,
      $horizontal: $position,
      $h_nudge:    $side_padding / 2,
      $icon_root:  $icon_root
    );

    padding-#{$position}: $side_padding + $icon_size;
  }
}
