$fa_color_names: map_keys($fa_colors);

@function fa_get_color($name, $err: false) {
  @return __fa_get_color_info('color', $name, $err: false);
}

@function fa_get_contrast_color($name, $err: false) {
  @return __fa_get_color_info('contrast_color', $name, $err: false);
}

@function fa_get_contrast_name($name, $err: false) {
  @return __fa_get_color_info('contrast_name', $name, $err: false);
}

@function __fa_get_color_info($type, $name, $err: false) {
  $data_map: map_get($fa_colors, $name);

  @if type_of($data_map) == map {
    $data: map_get($data_map, $type);

    @if $data {
      @return $data;
    } @else if $err {
      @error "can not find a #{$type} for #{name}";
    } @else {
      @return false;
    }
  } @else {
    @if $err {
      @error "can not find a color named #{$name}";
    } @else {
      @return false;
    }
  }
}
