// Create a full set (bold, italic, semibold, etc) of @font_face rules
// for a typeface.

@mixin fa_fontface($family, $file_name, $styles, $font_root: $fa_font_root) {
  @each $style_name in $styles {
    $style:  normal;
    $weight: 400;

    @if $style_name == italic {
      $style:  italic;
      $weight: 400;
    } @elseif $style_name == bold {
      $style:  normal;
      $weight: 700;
    } @elseif $style_name == bolditalic {
      $style:  italic;
      $weight: 700;
    } @elseif $style_name == light {
      $style:  normal;
      $weight: 300;
    } @elseif $style_name == lightitalic {
      $style:  italic;
      $weight: 300;
    } @elseif $style_name == semibold {
      $style:  normal;
      $weight: 600;
    } @elseif $style_name == semibolditalic {
      $style:  italic;
      $weight: 600;
    } @elseif $style_name == extrabold {
      $style:  normal;
      $weight: 800;
    } @elseif $style_name == extrabolditalic {
      $style:  italic;
      $weight: 800;
    }

    $location: '#{$font_root}#{$file_name}/#{$file_name}-#{$style_name}';

    @font-face {
      font-family: $family;
      font-style: $style;
      font-weight: $weight;
      src: url('#{$location}.eot');
      src: url('#{$location}.eot?iefix')   format('eot'),
           url('#{$location}.woff')        format('woff'),
           url('#{$location}.ttf')         format('truetype'),
           url('#{$location}.svg#webfont') format('svg');
    }
  }
}

@mixin fa_main_font {
  font-family: "Helvetica Neue",
               Helvetica,
               "Liberation Sans",
               "DejaVu Sans Condensed",
               "Nimbus Sans L",
               Arial,
               sans-serif;
}

@mixin fa_body_font {
  font-family: "PT Serif",
               "DejaVu Serif",
               "Bitstream Vera Serif",
               "Liberation Serif",
               Georgia,
               serif;
}

@mixin fa_header_font {
  line-height: 1.2em;
  font-family: "Open Sans",
               "Helvetica Neue",
               Helvetica,
               "Liberation Sans",
               "DejaVu Sans Condensed",
               "Nimbus Sans L",
               Arial,
               sans-serif;
}

@mixin fa_site_header_font {
  font-family: "PT Serif",
               "DejaVu Serif",
               "Bitstream Vera Serif",
               "Liberation Serif",
               Georgia,
               serif;
}

@mixin fa_small_font {
  font-family: "PT Caption",
               "DejaVu Serif",
               "Bitstream Vera Serif",
               "Liberation Serif",
               Georgia,
               serif;
}
