@mixin fa_background_icon($icon_name:  $icon_name,
                          $icon_color: $icon_color,
                          $width:      false,
                          $height:     false,
                          $horizontal: center,
                          $h_nudge:    '',
                          $vertical:   center,
                          $v_nudge:    '',
                          $icon_root:  $fa_icon_root) {

  background-image:    url(#{$icon_root}#{$icon_name}__#{$icon_color}.svg);
  background-repeat:   no-repeat;
  background-size:     $width $height;
  background-position: $horizontal
                       #{if($horizontal == center, '', $h_nudge)}
                       $vertical
                       #{if($vertical   == center, '', $v_nudge)};
}

@mixin fa_pseudo_icon($icon_name,
                      $icon_color,
                      $width:       false,
                      $height:      false,
                      $element:     before,
                      $padding:     0.5em,
                      $outer_nudge: 0,
                      $inner_nudge: 0,
                      $position:    left,
                      $fill:        transparent,
                      $icon_root:   $fa_icon_root) {

  $width:  if($width,  $width,  auto);
  $height: if($height, $height, auto);
  $size:   null;

  @if type-of($height) == number and type-of($width) == number {
    $size: max($width, $height);
  } @else if type-of($height) == number {
    $size: $height;
  } @else if type-of($width) == number {
    $size: $width;
  } @else {
    @error "height and/or width must be a numeric unit such as '1rem' or '50px'";
  }

  $size: $size + ($padding * 2);

  padding-#{$position}: $size + $outer_nudge + $inner_nudge;
  min-height:           $size;
  position:             relative;

  &::#{$element} {
    @include fa_background_icon(
               $icon_name:  $icon_name,
               $icon_color: $icon_color,
               $width:      $width,
               $height:     $height,
               $horizontal: center,
               $h_nudge:    0,
               $vertical:   center,
               $v_nudge:    0,
               $icon_root:  $fa_icon_root
             );

    content:          '';
    display:          block;
    background-color: $fill;
    width:            $size;
    height:           $size;
    border-radius:    $size / 2;
    position:         absolute;
    #{$position}:     $outer_nudge;
    top:              50%;
    margin-top:       -$size / 2;
  }
}
