@mixin fa_screen_reader_text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

@mixin fa_quote_like($font_size:     1.2em,
                     $icon:          'quote__white.svg',
                     $fill:          $fa_main_3,
                     $line_height:   1.5,
                     $icon_size:     2em,
                     $outer_padding: 0,
                     $inner_padding: 1em,
                     $downshift:     true,
                     $icon_root:     $fa_icon_root,
                     $element:       before) {

  @include fa_body_font;
  // @include fa_pseudo_icon(
  //            $position:      left,
  //            $icon:          'quote__white.svg',
  //            $fill:          $fill,
  //            $size:          $icon_size,
  //            $icon_size:     $icon_size * (3/5),
  //            $outer_padding: $outer_padding,
  //            $inner_padding: $inner_padding,
  //            $downshift:     $downshift,
  //            $icon_root:     $icon_root,
  //            $element:       $element
  //          );

  font-size: $font_size;
  color: $fa_grey_3;
  line-height: $line_height;
}

@mixin fa_info_box($icon_name:  false,
                   $icon_color: false,
                   $color:      $fa_teal_1,
                   $border:     $fa_teal_2,
                   $fill:       $fa_teal_3,
                   $headers:    'h1, h2, h3, h4, h5, h6',
                   $icon_root:  $fa_icon_root) {

  padding: 0.5em 2em 0.6em;

  @include fa_main_font;
  #{$headers} {
    font-size:     1em;
    font-weight:   bold;
    margin-left:   -1.5em;
    margin-bottom: 0.2em;

    @if $icon_name {
      @include fa_pseudo_icon(
        $icon_name:   $icon_name,
        $icon_color:  $icon_color,
        $position:    left,
        $width:       1em,
        $padding:     0,
        $inner_nudge: 0.5em,
        $icon_root:   $icon_root
      );
    }
  }

  font-size: 0.9em;
  line-height: 1.2;
  color: $color;
  background-color: $fill;
  border: 2px solid $border;
  border-radius: 2px;
  min-height: 1em;
}

@mixin fa_tag($fill: $fa_main_3, $color: $fa_contrast_main_3) {
  @include fa_tag_font;

  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: relative;
  bottom: 0.2rem;

  background-color: $fill;
  border-radius: 0.2rem;
  vertical-align: super;

  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1em;
  color: $color;
  text-shadow: none;
}
