@mixin fa_quote_like($font_size:     1.2em,
                     $icon:          'quote__white.svg',
                     $fill:          $fa_main_3,
                     $line_height:   1.5,
                     $icon_size:     2em,
                     $outer_padding: 0,
                     $inner_padding: 1em,
                     $downshift:     true,
                     $icon_root:     $fa_icon_root,
                     $element:       before) {

  @include fa_body_font;
  @include fa_pseudo_icon(
             $position:      left,
             $icon:          'quote__white.svg',
             $fill:          $fill,
             $size:          $icon_size,
             $icon_size:     $icon_size * (3/5),
             $outer_padding: $outer_padding,
             $inner_padding: $inner_padding,
             $downshift:     $downshift,
             $icon_root:     $icon_root,
             $element:       $element
           );

  font-size: $font_size;
  color: $fa_grey_3;
  line-height: $line_height;
}

@mixin fa_info_box($icon:      'flag__teal_2.svg',
                   $color:     $fa_teal_1,
                   $border:    $fa_teal_2,
                   $fill:      $fa_teal_3,
                   $icon_root: $fa_icon_root) {

  padding: 0.5em 2em 0.6em;

  @include fa_main_font;
  @include fa_background_icon(
             $icon:           $icon,
             $position:       left,
             $other_position: top 0.4em,
             $size:           1.3em,
             $outer_padding:  0.6em,
             $inner_padding:  0.5em,
             $icon_root:      $icon_root
           );

  font-size: 0.9em;
  line-height: 1.1;
  color: $color;
  background-color: $fill;
  border: 2px solid $border;
  border-radius: 2px;
}
