footer {
  background: $main-1;
  padding: 1.5rem 0;
  margin-top: 3rem;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-logo-image {
  max-width: 3rem;
  margin-right: 1rem;
}

.footer-text {
  margin: 0;
  color: white;
}
