$fa_icon_root: 'http://fultonis.www.lib.umich.edu/falafel/icon/';

@mixin fa_icon($icon_name, $position, $size: 2em, $offset: 0.3em) {
  padding-#{$position}: $size + ($offset * 2);
  background-image: url(#{$fa_icon_root}#{icon_name}.svg);
  background-repeat: no-repeat;

  background-size: auto $size;

  @if $position == left or $position == right {
    background-position: $position $offset center 0;
  } @else if $position == top or $position == bottom {
    background-position: center 0 $position $offset;
  }
}
