$fa_sizes: (
  margin: (
    button: (
      DEFAULT: 1rem 0,
    ),
  ),

  padding: (
    button: (
      DEFAULT:  0.75rem 1.25rem,
      disabled: calc(0.75rem - 2px) calc(1.25rem - 2px),
    ),
  ),

  border: (
    button: (
      DEFAULT:  solid 0,
      disabled: solid 2px,
    ),
  ),
);
