@mixin fa_button($margin:        fa_size(margin, button),
                 $border_radius: fa_size(border_radius, button),
                 $font_size:     fa_text(font_size, button),

                 $padding:      fa_size_map(padding, button),
                 $border:       fa_size_map(border, button),

                 $border_color: fa_color_map(border_color, button),
                 $background:   fa_color_map(background, button),
                 $color:        fa_color_map(color, button)) {

  display:       inline-block;
  margin:        $margin;
  padding:       fa_get_setting($padding);
  border:        fa_get_setting($border);
  border-radius: 4px;
  font-size:     $font-size;

  color:      $color;
  background: $background;

  text-decoration: none;
  cursor:          pointer;

  &:hover {
    color:      $hover_color;
    background: $hover_background;
  }

  &:focus {
    color:      $focus_color;
    background: $focus_background;
  }

  &:active {
    color:      $active_color;
    background: $active_background;
  }

  &[disabled] {
    color:      $disabled_color;
    background: $disabled_background;
  }
}
